# System files
.DS_Store

# Local config folders
.vscode
.git
.gitignore
.dockerignore

# Files that should not be included in the build context
node_modules
dist
tmp
.data
*.log

# Infrastructure files not needed for build
docker-compose.yml
README.md
