.content-html body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.content-html h1,
.content-html h2 {
  color: #dcdcdc;
}


.content-html pre {
  background-color: #282c34;
  color: #abb2bf; 
  padding: 20px;
  border-radius: 8px;
  overflow-x: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #3c4048; 
}

.content-html code {
  font-family: 'Fira Code', monospace; 
}

.content-html pre code {
  display: block;
  white-space: pre-wrap;
}

.content-html .keyword {
  color: #c678dd; 
  font-weight: bold;
}

.content-html .string {
  color: #98c379; 
}

.content-html .comment {
  color: #5c6370; 
  font-style: italic;
}

.content-html .number {
  color: #d19a66; 
}

.content-html .operator {
  color: #61afef;
}

.content-html .bash {
  color: #e5c07b;
}


.content-html table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.content-html th, .content-html td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dcdcdc;
}

.content-html th {
  background-color: #3c4048;
  color: #ffffff; 
}

.content-html td {
  background-color: #282c34;
  color: #abb2bf; 
}


.content-html a {
  color: #9cdcfe;
  text-decoration: underline;
}

.content-html ul {
  margin: 10px 0;
  padding-left: 20px;
}

.content-html li {
  margin-bottom: 5px;
}