@font-face {
    font-family: quicksand;
    src: url(/quicksand.ttf);
}

* {
    font-family: quicksand, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(13, 14, 16);
    min-height: 100vh;
    background-image: linear-gradient(
        to top left, 
        #52525b, 
        rgba(82, 82, 91, 0.2) 50%, 
        rgba(82, 82, 91, 0.2)
    );
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}