/* Opening present */
@keyframes opening-present {
    from {
        line-height: 0px;
        letter-spacing: 10px;
        opacity: 0;
    }
    to {
        line-height: 40px;
        letter-spacing: 0px;
        opacity: 1;
    }
}

/* Opening container */
.present {
    -webkit-text-stroke: 1px hsla(0, 0%, 100%, .3);
    animation: opening-present 3s ease-in-out both;
    text-align: center;
    background-color: rgb(255 255 255);
    color: transparent;
    background-clip: text;
    font-size: 40px;
    font-weight: 0px;
    font-weight: bold;
    text-transform: uppercase;
}